.DS_Store

# Xcode user data
*.xcuserstate
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
xcuserdata/

# Build products
DerivedData/
build/
.deriveddata/

# Swift Package Manager
.build/

# Archives and release artifacts
*.xcarchive
*.dmg
*.zip
